  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0">Quên mật khẩu</h4>
          </div>
          <div class="card-body">
            <form class="form" role="form" autocomplete="off">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control form-control-lg rounded-0" name="email" id="email" required="">
              </div>
              <button type="submit" class="mt-4 btn btn-success btn-lg float-right">Gửi mã xác nhận</button>
            </form>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-center">
              <a href="sign-in" class="btn btn-link">Quay lại</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>