<div class="container">
    <div class="btn-group my-2">
        <a href="/product/home" class="btn btn-primary" aria-current="page">Sản phẩm</a>
        <a href="/banner/home" class="btn btn-primary">Banner</a>
        <a href="/category/home" class="btn btn-primary">Danh mục</a>
        <a href="/bill/home/0" class="btn btn-primary">Đơn hàng</a>
        <a href="/user/settings" class="btn btn-primary active">Người dùng</a>
        <a href="/user/statistical" class="btn btn-primary">Thống kê</a>
    </div>
    <div class="m-auto" style="width: 600px;">
        <h2 class="text-center my-3">Thay đổi mật khẩu</h2>
        <div class="text-bg-danger text-center my-3">{{err}}</div>
        <div class="text-bg-success text-center my-3">{{msg}}</div>
        <form method="post" action="/user/password">
            <div class="form-group">
                <label for="oldPassword">Mật khẩu cũ</label>
                <input type="password" class="form-control" id="oldPassword" name="oldPassword" required>
            </div>
            <div class="form-group">
                <label for="newPassword">Mật khẩu mới</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" required>
            </div>
            <button type="submit" class="btn btn-success col-3 col-lg-12 my-3">Thay đổi</button>
        </form>
    </div>
</div>