<div class="container">
    <div class="btn-group my-2">
        <a href="/product/home" class="btn btn-primary" aria-current="page">Sản phẩm</a>
        <a href="/banner/home" class="btn btn-primary">Banner</a>
        <a href="/category/home" class="btn btn-primary">Danh mục</a>
        <a href="/bill/home/0" class="btn btn-primary">Đơn hàng</a>
        <a href="/user/settings" class="btn btn-primary ">Người dùng</a>
        <a href="/user/statistical" class="btn btn-primary active">Thống kê</a>
    </div>

    <div class="m-auto" style="width: 600px;">
        <h2 class="text-center my-3">Thống kê doanh thu</h2>
        <div class="text-bg-danger text-center my-3">{{err}}</div>
        <form method="post" action="/user/statistical">
            <div class="form-group">
                <label for="startDate">Ngày bắt đầu</label>
                <input type="date" class="form-control" id="startDate" name="startDate" required value="{{start}}">
            </div>
            <div class="form-group">
                <label for="endDate">Ngày kết thúc</label>
                <input type="date" class="form-control" id="endDate" name="endDate" required value="{{end}}">
            </div>
            <div class="form-group">
                <label for="totalRevenue">Tổng doanh thu</label>
                <input type="text" class="form-control" id="totalRevenue" name="totalRevenue" value="{{totalSum}}"
                    readonly>
            </div>
            <button type="submit" class="btn btn-success col-3 col-lg-12 my-3">Xác nhận</button>
        </form>
    </div>
</div>